<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>index</title>
<link href="css/about_style.css" rel="stylesheet">
<style type="text/css">
    body{
   		width:1004px;
   		height:945px;
   		margin:auto;
   		padding-top:40px;
   		background-color:#94bfcf;
	}
	
</style>
</head>

<body>
    <div id="container">
        <div id="banner">
            <div class="logo"><img src="images/index_fullscreen_04.jpg"></div>       
            <div class="jiantizhongwen"><p align="center"><a class="red" href="#">简体中文</a></p></div>
            <div class="jiantizhongwen jiantizhongwen-fix"><p align="center">Logo in | sign up</div>
        </div>
        <div id="lantiao">
            <div id="biaoqian1" class="biaoqian"><b><i>Write letter to Past or Future</i></b></div>
            <div id="biaoqian2" class="biaoqian"><b><i>Read Public to Past</i></b></div>
            <div id="biaoqian3" class="biaoqian"><b><i>Read Public to Future</i></b></div>
            <div id="biaoqian4" class="biaoqian"><b><i>About Us</i></b></div>
            <div id="biaoqian5" class="biaoqian"><b><i>Support Us</i></b></div>
            <div id="biaoqian6" class="biaoqian"><b><i>Connect Us</i></b></div>
        </div>
        <div class="caitiao"></div>
        <div id="center">
        <div id="about"><b><i>About Us</i></b></div>
            <hr style="width:911px;height:1px;margin-top:50px;color:#efefef;border:thin;" noshade="noshade">
            <div id="tiao1_header"><b>What is pastletter?</b></div>
                <div id="tiao1_body">
pastletter based on the principle that memories are less accurate than e-mails. And we strive for accuracy.	See, usually, it's the future that will reflect back on the present. We here at FutureMe think it'sfun to flip that all around. So send your future self some words of inspiration. Or maybe give 'em swift kick in the pants. Or just share some thoughts on where you'll or what you'll be up to in a year, three years...more? And the we'll do some time travel magic and deliver the letter to you. FutureYou, 
that is.Getting a surprise from the past is actually kind of an amazing thing - just check out all the people on Twitter and Facebook that agree.
                </div>
            <hr style="width:911px;height:0.5px;margin-top:50px;color:#efefef;border: dashed thin;" noshade="noshade">
            <hr style="width:911px;height:0.5px;margin-top:50px;color:#efefef;border: dashed thin;" noshade="noshade">
            <hr style="width:911px;height:0.5px;margin-top:50px;color:#efefef;border: dashed thin;" noshade="noshade">
            
        </div>
        <div id="kongbai"></div>
        <div class="caitiao caitiao-fix"></div>
        <div id="footer"><div id="kuan"><img src="images/index_fullscreen_27.jpg"><hr style="margin-top:3px;float:left;width:1004px;" /><div id="copyright">Copyright © 2012 - pastletter labs - All rights reserved.
        </div>
            <div id="sigetu">
                <ul>
                    <img src="images/index_fullscreen_31.jpg">
                    <img src="images/index_fullscreen_33.jpg">
                    <img src="images/index_fullscreen_35.jpg">
                    <img src="images/index_fullscreen_37.jpg">
                </ul>
            </div>
        </div>
        </div>
    </div>
</body>
</html>
