<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>email-check</title>
<link href="css/support.css" rel="stylesheet">
<style type="text/css">
    body{
		width:1004px;
		height:945px;
		margin:auto;
		padding-top:40px;
		background-color:#94bfcf;

	}
	
</style>
</head>

<body>
    <div id="container">
        <div id="banner">
            <div class="logo"><img src="images/index_fullscreen_04.jpg"></div>       
            <div class="jiantizhongwen"><p align="center"><a class="red" href="#">简体中文</a></p></div>
            <div class="jiantizhongwen jiantizhongwen-fix"><p align="center">Logo in | sign up</div>
        </div>
        <div id="lantiao">
            <div id="biaoqian1" class="biaoqian"><b><i>Write letter to Past or Future</i></b></div>
            <div id="biaoqian2" class="biaoqian"><b><i>Read Public to Past</i></b></div>
            <div id="biaoqian3" class="biaoqian"><b><i>Read Public to Future</i></b></div>
            <div id="biaoqian4" class="biaoqian"><b><i>About Us</i></b></div>
            <div id="biaoqian5" class="biaoqian"><b><i>Support Us</i></b></div>
            <div id="biaoqian6" class="biaoqian"><b><i>Connect Us</i></b></div>
        </div>
        <div class="caitiao"></div>
        <div id="huitiao"><b><p style="margin-top:10px;">Please go to your mailbox for validation</p></b></div>
    <div id="left-container">
        <div id="leftkuang">
        <div id="support_header"><b><i>Support us</i></b></div>
        <hr style="width:737px;height:0.5px;color:#efefef;" noshade="noshade">
        <div id="center">
            <div id="center_header"<b><i>Dear PastMe</i></b></div>
            <div id="center_body">If you think Pastletter is a valuable service, please show your support with a donation! How much? We think that $1/year that FutureMe sent your letter into the future is a good amount. So, if you wrote a letter from the PastYou of 3 years ago, that would be $3. That's less than a fancy coffee drink! So skip one latte per year and help out FutureMe instead!
            </div>
            <div id="sangetu">          
            <ul>
                <img src="images/pp.png">
                <img src="images/zhifubao.png">
                <img src="images/caifutong.png">
            </ul>
            </div>
        </div>
        </div>
    </div>
    <div id="right-container">   
        <div id="rightkuang">
            <div id="huangtiao">
                <div id="huangtiao-shangbian">
                    <p style="font-family:Verdana;font-size:13px;color:#454545;text-align:center;margin-top:6px;"><b><i>Account  Information</i></b></p>  
                </div>
                <div id="huangtiao-zhongxin">
                    <ul class="list">
                        <li><p style="color:#333333;font-family:Verdana;font-size:12px;">My letters</p></li> 
                        <li><p style="color:#333333;font-family:Verdana;font-size:12px;">My lettes to past</li> 
                        <li><p style="color:#333333;font-family:Verdana;font-size:12px;">My letters to future</li> 
                        <li><p style="color:#333333;font-family:Verdana;font-size:12px;">I like letter</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
        
        <div class="caitiao caitiao-fix"></div>
        <div id="footer"><div id="kuan"><img src="images/index_fullscreen_27.jpg"><hr style="margin-top:3px;float:left;width:1004px;" /><div id="copyright">Copyright © 2012 - pastletter labs - All rights reserved.
        </div>
            <div id="sigetu">
                <ul>
                    <img src="images/index_fullscreen_31.jpg">
                    <img src="images/index_fullscreen_33.jpg">
                    <img src="images/index_fullscreen_35.jpg">
                    <img src="images/index_fullscreen_37.jpg">
                </ul>
            </div>
        </div>
        </div>
    </div>
</body>
</html>

