#container{
    width:1003px;
	height:934px;
	background-image:url(../img/index_fullscreen_02.jpg);
	margin-top:-41px;
}
#banner{
	width:1003px;
	height:75px;	
}
.logo{
	width:185px;
	height:53px;
	margin:0px;
	padding:0px;
}
.jiantizhongwen{
	margin-top:-40px;
	width:185px;
	height:18px;
	float:right;
	font-family:"Times New Roman", Times, serif;
	font-size:12px;
}
a.red：link{color:#344e78;} visit{color:#F00; text-decoration:underline;}
.jiantizhongwen-fix{
	margin-top:-20px;
	font-family:Verdana;
}
#lantiao{
	background-image:url(../img/QQ%E6%88%AA%E5%9B%BE20120416141637.png);
	width:1004px;
	height:33px;
	margin-top:1px;
}
.biaoqian{
	font-size:12px;
	font-family:Georgia;
	color:#344e78;
	width:167px;
	height:33px;
	float:left;
	margin-top:9px;
	text-align:center;
}
#biaoqian1{
	margin-left:20px;
	width:190px;
}
#biaoqian2{
	margin-left:10px;
}
#biaoqian3{
	margin-left:20px;
}
#biaoqian4{
	width:140px;
	margin-left:10px;
}
#biaoqian5{
	width:130px;
	margin-left:5px;
}
#biaoqian6{
	width:130px;
	margin-left:0px;
}
.caitiao{
	background-image:url(../img/index_fullscreen_09.jpg);
	width:1004px;
	height:5px;
	float:left;
}
#futurel label{
	color:#ab0000;
}
.caitiao-fix{
	margin-top:0px;
}
#left-container{
	width:474px;
	height:660px;
	float:left;
}
#leftkuang{
	width:474px;
	height:100%;
	height:585px;
	margin-left:25px;
	margin-top:25px;
	float:left;
	background-image:url(../img/index_fullscreen_13.jpg);
	
}
.xietiao{
	width:474px;
	height:30px;
	margin-top:29px;
}
#right-container{
	width:474px;
	height:648px;
	margin-left:-10px;
	float:right;
}
#rightkuang{
	width:474px;
	height:100%;
	height:585px;
	margin-right:25px;
	margin-top:25px;
	float:right;
	background-image:url(../img/rightkuang-backgroundcolor.png);
}
.xietiao-fix{
	width:455px;
}
#xietiao-da{
	background-image:url(../img/index_fullscreen_16.jpg);
	width:235px;
	height:28px;
	float:left;
	margin-left:25px;
	font-family:Arial;
	color:#7f7f7f;
}
#xietiao-xiao{
	width:153px;
	height:28px;
	background-image:url(../img/index_fullscreen_16.jpg);
	float:left;
	margin-left:20px;
	font-family:Arial;
	color:#7f7f7f;
}
.kuai{
	width:422px;
	height:114px;
	float:left;
}
#more{
	text-align:center;
	font-family:Verdana;
	width:243px;
	height:20px;
	margin-left:40px;
	margin-top:25px;
	color:#1a7ba0;
	text-decoration:underline;
	float:left;
}
#footer{
	background-image:url(../img/QQ%E6%88%AA%E5%9B%BE20120416152136.png);
	height:159px;
	width:1004px;
	float:left;
}
#kuan{
	width:1003px;
	height:126px;
	margin:auto;
	float:left;
}
#copyright{
	float:left;
	margin-top:2px;
	margin-left:10px;
}
#sigetu{
	float:right;
	margin-top:2px;
	margin-right:30px;
}